.banner {
  color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9em;

  i {
    margin-right: 0.5em;
  }

  &.banner-error {
    background: $error-color;
    background: linear-gradient(to bottom, $error-color, darken($error-color, 10%));
  }

  &.banner-info {
    background-color: $info-color;
  }
}

