button {
  outline: none;
  cursor: pointer;
  background: $button-color;
  border: 1px solid darken($button-color, 10%);
  color: darken($button-color, 50%);
  border-radius: 3px;
  padding: 0.5em 2em;
  font-size: 0.8em;
  margin: 0.5em;

  &:hover {
    background: $button-hover-color;
  }

  &.button-delete {
    background: $delete-button-color;
    border: 1px solid darken($delete-button-color, 5%);
    color: #FFFFFF; 
    transition: all $button-transition-duration;

    &:hover {
      background: $delete-button-hover-color;
      border-color: $delete-button-color;
      transition: all $button-transition-duration;
    }
  }

  &.button-primary {
    background: $primary-button-color;
    border-color: darken($primary-button-color, 5%);
    color: #FFFFFF;

    &:hover {
      background: $primary-button-hover-color;
      border-color: $primary-button-color;
    }
  }

  &.button-primary-disabled {
    opacity: 0.4;
    cursor: not-allowed !important;
    
    &:hover {
      background: $primary-button-color;
    }
  }
}

.add-button-container {

  .tooltip-container {
    display: inline-block;
  }

  .add-button {
    background: $add-button-color; 
    border: 2px solid darken($add-button-color, 20%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    transition: background-color $button-transition-duration;
    box-shadow: 0px 2px 13px -9px rgba(0,0,0,0.75);
    padding: 0.25em;

    &:hover {
      color: #000000;
      transition: color $button-transition-duration;
    }
  }
}

#save-button {
  height: 3em;
}
