.card {
  font-size: 0.8rem;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  box-shadow: 0px 4px 13px -9px rgba(0,0,0,0.75);
  width: 90%;
  text-align: left;
  padding: 5px;
  margin: 5px auto;
  cursor: pointer;
  transition: all 0.05s;
  position: relative;
  z-index: 100;

  &.error {
    border: 2px solid $error-color;
  }

  &.card-dragging {
    opacity: 0.25;
    border-style: dashed;
  }

  &:hover {
    transform: scale(1.025);
  }

  i.error {
    color: $error-color;
    margin-right: 0.5em;
  }
}

