$header-background-color: #1F65AA;
$footer-background-color: #333333;
$column-background-color: #EFEFEF;
$column-header-background-color: #02BEC7;
$column-header-dark-background-color: #02565A;
$primary-button-color: #448AD1;
$primary-button-hover-color: lighten($primary-button-color, 5%);
$delete-button-color: #C9302C;
$delete-button-hover-color: lighten($delete-button-color, 5%);
$add-button-color: #FFFFFF;
$button-color: #E0E0E0;
$button-hover-color: lighten($button-color, 5%);
$button-transition-duration: 0.25s;
$error-color: #C9302C;
$info-color: #31B0D5;
$success-color: #5CB85C;
