@import 'variables';
@import 'animations';
@import 'buttons';
@import 'modals';
@import 'tooltips';
@import 'banners';
@import 'cards';
@import 'columns';
@import 'title';
@import 'notifications';
@import 'dropdowns';

body {
  font-family: Open Sans, sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  align-items: center;
  display: flex;
  padding: 5px;
  
  background-color: $header-background-color;

  a {
    display: flex;
    text-decoration: none;
    h1 {
      font-size: 1.2em;
      margin: 0;
      color: #FFFFFF;
    }
  }
}

.main-content {
  flex: 1;
  padding: 5px;
}

footer {
  background-color: $footer-background-color;
  color: #FFFFFF;
  padding: 5px;
  font-size: 0.7rem;


  a {
    color: #FFFFFF;
  }
}

.canvas-container {
  position: relative;

  canvas {
    position: absolute;
    margin-top: 5px;
    z-index: 500;
  }
}

.model-list-item {
  margin: 0.5em;
  border: 1px solid $header-background-color;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 0.5em;
  display: flex;

  font-size: 1.3em;

  div:nth-child(2) {
    flex-grow: 1;
  }

  i.fa-file-text-o {
    font-size: 2em;
    margin-right: 0.5em;
    align-self: center;
  }

  .delete {
    color: $delete-button-color;
  }

  a {
    text-decoration: none;
    color: $header-background-color;
    font-weight: bold;

    &:hover {
      color: lighten($header-background-color, 5%);
    }
  }

  .model-list-item-timestamp {
    font-size: 0.75em;
  }

  .model-list-item-buttons {
    align-self: center;
  }
}

.loadingIndicator {
  display: block;
  margin: 10% auto;
}
