{
  "plugins": [
    "react"
  ],
  "extends": ["airbnb", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      experimentalObjectRestSpread: true
    }
  },
  "rules": {
    "new-cap": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": 0
  }
}
