{
  "port": 3000,
  "logLevel": "info",
  "mongoDbUri": "mongodb://localhost/kolinahr",
  "openIdConnect": {
    "authUrl": "https://accounts.google.com/o/oauth2/v2/auth",
    "tokenUrl": "https://www.googleapis.com/oauth2/v4/token",
    "userInfoUrl": "https://www.googleapis.com/oauth2/v3/userinfo",
    "clientId": "myclientid.apps.googleusercontent.com",
    "clientSecret": "myclientsecret",
    "callbackUrl": "http://localhost:3000/auth/callback"
  },
  "jwtSecret": "myjwtsecret"
}
