<!DOCTYPE html>
<html>
  <head>
    <title>Kolinahr</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="icon" href="7bffafa1e72726db8d20b186e8d10d9e.png">
    <script src="https://use.fontawesome.com/570f8975db.js"></script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
