[Unit]
Description=Kolinahr - Kellogg Logic Model Application

After=network.target

[Service]
User=kolinahr
WorkingDirectory=/srv/kolinahr
ExecStart=/usr/bin/node server/index.js
EnvironmentFile=/etc/sysconfig/kolinahr
Restart=on-failure

[Install]
WantedBy=multi-user.target
