[Unit]
Description=Kolinahr - Kellogg Logic Model Application

After=network.target

[Service]
User=kolinahr
WorkingDirectory=/srv/kolinahr
ExecStart=/usr/bin/node server/index.js

Environment=MONGODB_URI={{ MONGODB_URI }}
Environment=PORT={{ KOLINAHR_PORT }}
Environment=OPENID_CONNECT_AUTHORIZATION_URL={{ OPENID_CONNECT_AUTHORIZATION_URL }}
Environment=OPENID_CONNECT_TOKEN_URL={{ OPENID_CONNECT_TOKEN_URL }}
Environment=OPENID_CONNECT_USER_INFO_URL={{ OPENID_CONNECT_USER_INFO_URL }}
Environment=OPENID_CONNECT_CLIENT_ID={{ OPENID_CONNECT_CLIENT_ID }}
Environment=OPENID_CONNECT_CLIENT_SECRET={{ OPENID_CONNECT_CLIENT_SECRET }}
Environment=OPENID_CONNECT_CALLBACK_URL={{ OPENID_CONNECT_CALLBACK_URL }}
Environment=JWT_SECRET={{ JWT_SECRET }}

[Install]
WantedBy=multi-user.target
